body{
    overflow: hidden;
}

#boby{

    color: antiquewhite;
    overflow: hidden;
    margin-bottom: 0%;
}



#udv{
    text-align: center;
    font-family:fantasy;
    color: red;
  }

  #tablee{
    border: solid green;
  }

  
  footer{
    height: 175px;
    background-color: darkgray;
    margin-top: 200px;
    width: 2000px;
    
  }
  #tabla{
    text-align: justify;
  }